/* Astro Starlight Custom Theme for FumaDocs */

@theme  {
    --color-fd-background: hsl(0, 0%, 99.6%);
    --color-fd-foreground: hsl(0, 0%, 2%);
    --color-fd-muted: hsl(0, 0%, 96.1%);
    --color-fd-muted-foreground: hsl(0, 0%, 45.1%);
    --color-fd-popover: hsl(0, 0%, 100%);
    --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
    --color-fd-card: hsl(0, 0%, 99.7%);
    --color-fd-card-foreground: hsl(0, 0%, 3.9%);
    --color-fd-border: hsla(0, 0%, 60%, 0.2);
    --color-fd-primary: #166534; /* forest green */
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-secondary: hsl(0, 0%, 96.1%);
    --color-fd-secondary-foreground: hsl(0, 0%, 9%);
    --color-fd-accent: oklch(0.79 0.15 159.4); /* refined light green */
    --color-fd-accent-foreground: #084734; /* emerald pine */
    --color-fd-ring: #166534; /* forest green */
  }
  
  .dark {
    --color-fd-background: hsl(0, 0%, 2%);
    --color-fd-foreground: hsl(0, 0%, 98%);
    --color-fd-muted: hsl(0, 0%, 8%);
    --color-fd-muted-foreground: hsl(0, 0%, 60%);
    --color-fd-popover: hsl(0, 0%, 4%);
    --color-fd-popover-foreground: hsl(0, 0%, 98%);
    --color-fd-card: hsl(0, 0%, 4%);
    --color-fd-card-foreground: hsl(0, 0%, 98%);
    --color-fd-border: hsl(0, 0%, 50%, 0.2);
    --color-fd-primary: oklch(0.79 0.15 159.4); /* refined light green */
    --color-fd-primary-foreground: #084734; /* emerald pine */
    --color-fd-secondary: hsl(0, 0%, 12.9%);
    --color-fd-secondary-foreground: hsl(0, 0%, 98%);
    --color-fd-accent: #166534; /* forest green */
  --color-fd-accent-foreground: oklch(0.79 0.15 159.4); /* refined light green */
  --color-fd-ring: oklch(0.79 0.15 159.4); /* refined light green */
  }
  

  [data-state] > button {
    color: var(--color-fd-secondary-foreground);
    font-size: .90rem;
    letter-spacing: 0.02em;
    font-weight: 600;
    & svg {
      color: var(--color-fd-secondary-foreground);
      margin-bottom: 3px;
    }
  }

  [data-card]{
    &:hover{
      & p{
        color: var(--color-fd-foreground);
      }
    }
  }

  /* Best Practice Component Dark Theme Handling */
  .best-practice-unselected {
    --color-fd-foreground: hsl(0, 0%, 2%);
    --tw-prose-code: hsl(0, 0%, 99%)!important;
  }

  .best-practice-unselected code{
    color: var(--color-fd-accent-foreground)!important;
  }

  .dark .prose code{
    background-color: var(--color-fd-secondary)!important;
    color: var(--color-fd-accent-foreground)!important;
  }

 